* {
  height: 100%;
  margin: 0;
  padding: 0;
  direction: rtl;
  text-align: center;
  box-sizing: border-box;
  border: rgba(0, 0, 0, 0);
  background-color: #f4f6ff;
  font-family: "Heebo", sans-serif;
}
